{% extends "layout.html" %}
{% block title %}Comment Preview{% endblock %}
{% block content %}

<h1>Comment Preview</h1>

This is a preview of what your comment is going to look like once posted.<p>

<div class="comment">
	<div class="comment-author">
		{% if gravatar %}
			<img src="{{ gravatar }}" alt="Avatar" width="96" height="96">
		{% else %}
			<img src="/static/avatars/default.png" alt="guest" width="96" height="96">
		{% endif %}<br>
		<strong>{% if session["login"] %}{{ session["username"] }}{% else %}guest{% endif %}</strong>
	</div>

	<strong>Posted on {{ pretty_time }} by {{ name or "Anonymous" }}.</strong><p>

	{{ preview|safe }}

	<div class="clear"></div>
</div>

{% if subscribe == "true" and contact %}
	<p>
	You will be subscribed to future comments on this thread. Notification
	e-mails will be sent to {{ contact }}.<p>
{% endif %}

<h2>Edit Comment</h2>

{% include "comment/form.inc.html" %}

{% endblock %}
