{% extends "layout.html" %}
{% block title %}Admin Center{% endblock %}

{% block content %}

<h1>Admin Center</h1>

<h2>Blog</h2>

<ul>
	<li><a href="{{ url_for('blog.update') }}">Post a new blog entry</a></li>
	<li><a href="{{ url_for('blog.drafts') }}">View draft entries</a></li>
	<li><a href="{{ url_for('blog.private') }}">View private entries</a></li>
</ul>

<h2>Users</h2>

<ul>
	<li><a href="{{ url_for('admin.users') }}">View and Manage Users</a></li>
</ul>

<h1>Maintenance Tasks</h1>

<ul>
	<li><a href="{{ url_for('admin.rebuild_blog_index') }}">Rebuild Blog Index</a></li>
	<li><a href="{{ url_for('admin.rebuild_visitor_counts') }}">Rebuild Visitor Counts</a></li>
</ul>

{% endblock %}
