<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>

        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
<body>

<header>
    <h1>Rophako</h1>
</header>

<nav>
    <ul>
        <li class="header">:: Navigation</li>
        <li><a href="/">Home</a></li>
        <li><a href="#">About Rophako</a></li>
        <li><a href="#">Download</a></li>

        <li class="header">:: Site Admin</li>
        {% if session["login"] %}
            <li><a href="{{ url_for('account.logout') }}">Log out</a></li>
        {% else %}
            <li><a href="{{ url_for('account.login') }}">Log in</a></li>
        {% endif %}
    </ul>
</nav>

<div id="content">
    {% block content %}{% endblock %}
</div>

<div class="clear"></div>

<footer>
    &copy; 2014 Noah Petherbridge. Web design released along with the Rophako CMS
    under the GNU General Public License v2.0.<br>

    <a href="https://github.com/kirsle/rophako" target="_blank">
        {{ app["name"] }} v{{ app["version"] }}
    </a>
</footer>

<script type="text/javascript" src="/js/jquery-2.1.0.min.js"></script>
{% block scripts %}{% endblock %}

</body>
</html>