<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>

        <link rel="stylesheet" type="text/css" href="/smoke/style.css">
    </head>
<body>

<header>
    <a href="/">
        <img src="/smoke/firemarble.png" width="161" height="169" alt="Logo">
    </a>
    <span>Rophako</span>
</header>

<nav>
    <ul>
        <li class="header">:: Navigation</li>
        <li><a href="/">Home</a></li>
        <li><a href="/photos/albums">Photo Albums</a></li>
        <li><a href="https://github.com/kirsle/rophako" target="_blank">View on Github</a></li>
        <li><a href="https://github.com/kirsle/rophako/archive/master.zip">Download</a></li>

        <li class="header">:: Site Admin</li>
        {% if session["login"] %}
            <li><a href="{{ url_for('account.logout') }}">Log out</a></li>
        {% else %}
            <li><a href="{{ url_for('account.login') }}">Log in</a></li>
        {% endif %}
    </ul>
</nav>

<div id="content">
    {% block content %}{% endblock %}

    <footer>
        <div>
            &copy; 2014 Noah Petherbridge. Web design released along with the Rophako CMS
            under the GNU General Public License v2.0.<br>
            <a href="https://github.com/kirsle/rophako" target="_blank">
                {{ app["name"] }} v{{ app["version"] }}
            </a>
        </div>
    </footer>
</div>

<script type="text/javascript" src="/js/jquery-2.1.0.min.js"></script>
{% block scripts %}{% endblock %}

</body>
</html>