{% extends "layout.html" %}
{% block title %}Comment Preview{% endblock %}
{% block content %}

<h1>Comment Preview</h1>

This is a preview of what your comment is going to look like once posted.<p>

<hr><p>

{{ preview|safe }}<p>

<hr><p>

{% if subscribe == "true" and contact %}
    You will be subscribed to future comments on this thread. Notification
    e-mails will be sent to {{ contact }}.<p>
{% endif %}

<form name="preview" action="{{ url_for('comment.post') }}" method="POST">
<input type="hidden" name="token" value="{{ csrf_token() }}">
<input type="hidden" name="thread" value="{{ thread }}">
<input type="hidden" name="url" value="{{ url }}">
<input type="hidden" name="subject" value="{{ subject }}">
<input type="hidden" name="name" value="{{ name }}">
<input type="hidden" name="message" value="{{ message }}">
<input type="hidden" name="contact" value="{{ contact }}">
<input type="hidden" name="subscribe" value="{{ subscribe }}">
<button type="submit">Publish Comment</button>
</form>

{% endblock %}